<p>Mazin!</p>
<app-user *ngFor="let user of users"></app-user>
<!-- <app-user></app-user>
<app-user></app-user> -->

<label for="">User Name</label>
<!-- <input type="text" (input)="onUpdateUser($event)" /> -->
<input type="text" [(ngModel)]="userName" />
<div>{{ userName }}</div>

<button
  class="btn btn primary"
  [disabled]="!allowNewUser"
  (click)="changeUserCreatedStatus()"
>
  Add User
</button>
<div *ngIf="isUserCreated; else noUser">
  User is created and the username is{{ userName }}
</div>

<ng-template #noUser>
  <div>No user is created</div>
</ng-template>
